@font-face {
  font-family: "poppins-l";
  src: local("poppins-l"), url(./fonts/Poppins-Light.ttf) format(truetype);
}

@font-face {
  font-family: "poppins-m";
  src: local("poppins-m"), url(./fonts/Poppins-Medium.ttf) format(truetype);
}

@font-face {
  font-family: "poppins-r";
  src: local("poppins-r"), url(./fonts/Poppins-Regular.ttf) format(truetype);
}

@font-face {
  font-family: "poppins-b";
  src: local("poppins-b"), url(./fonts/Poppins-Bold.ttf) format(truetype);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "orpheuspro", "poppins-r",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #231f20;
  /*background-color: #070606; */
  color: #f2f2f2;
}

p {
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
